.divi1{
    background-color: yellow;
    width: 200px;
    padding: 15px;
    border: solid 5px blue;
}
p {
    color: red;
    background-color: orange;
    width: 200px;
    padding: 15px;
    border: dotted 5px green;
}
#borda2 {
    width: 200px;
     background-color: yellow;
    color: green;
    padding: 15px;
    border: dashed 5px green;
}